@charset "utf-8";
/* CSS Document */
body 
{
	background-color:#585858;
	margin:0px auto;
}
.main_container
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9pt;
	background-color:#ffffff;
	margin:0px auto;
}
a
{
	color:#9a5808;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:8pt;
}
a:hover
{
	text-decoration:underline;
}
.heading_bg
{
background-image:url(../images/top_heading_bg.jpg);
background-repeat:repeat-x;
color:#ffb246;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9pt;
font-weight:bold;
padding:7px;
}
.heading_bg_new
{
background-image:url(../images/top_heading_bg.jpg);
background-repeat:repeat-x;
color:#ffb246;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9pt;
font-weight:bold;
padding:7px;
float:left;
width:230px;
height:15px;
}
.indentmenu{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#ffffff;
width: 100%; /*leave this value as is in most cases*/
}

.indentmenu ul{
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
 /*navy border*/

}

.indentmenu ul li{
display: inline;
}

.indentmenu ul li a{
float: left;
color: white; /*text color*/
padding: 6px 11px;
text-decoration: none;
border-right: 1px solid #de8518; /*navy divider between menu items*/
color:#f8ddb5;
}


.indentmenu ul li a.selected{
color: white !important;
padding-top: 6px; /*shift text down 1px*/
padding-bottom: 6px;
/*background-image:url(../images/meu_active.jpg);*/
background-repeat:repeat-x;
background-position:center;
background-color:#DE8518;
}
.footer
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:7pt;
color:#9a5808;
font-weight:bold;
padding-left:15px;
padding-top:10px;
padding-bottom:10px;
}
.h1
{
color:#cc852a;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:9pt;
}
.content
{
font-size:8pt;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#000000;
font-weight:bold;
}
.mandatory{color:#ff0000;}
.textbox
{
border:1px solid #9a5808;
height:18px;
width:153px;
font-size:9pt;
font-family:Verdana, Arial, Helvetica, sans-serif;
padding-left:5px;
color:#000000;
}
.txtboxWidthless
{
border:1px solid #9a5808;
height:18px;
font-size:9pt;
font-family:Verdana, Arial, Helvetica, sans-serif;
padding-left:5px;
color:#000000;
}

.button
{
border:2px solid #9a5808;
padding:2px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:8pt;
font-weight:bold;
color:#9a5808;
background-color:#f6a222;
cursor:pointer;
}
.textarea
{
border:1px solid #9a5808;
height:90px;
width:153px;
}
.small_txt
{
font-size:10px;
color:#df9017;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
.declaration_txt
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:8pt;
color:#333333;
text-align:justify;
line-height:18px;
}
.declaration_txt-new span
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#ad7929;
text-align:justify;
line-height:18px;
}
.declaration_txt-new
{
font-family:Verdana;
font-size:10px;
color:#333333;
text-align:justify;
line-height:18px;
font-weight:normal;
}
.declartion_div
{
background-color:#f5f5f5;
color:#000000;
font-size:8pt;
border:1px solid #dadada;
padding:15px;
line-height:18px;
font-weight:bold;
}
.PageHeading
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:8pt;
color: White;
padding-top:5px;
width:500px;
float:left;
}
.ErrorMsg
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:8pt;
color: Red;
}


/*message box start */

.messagebx {
	margin: 0 auto;
	border: 2px solid #F6A222;
	background-color:#FEF0E3;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:bold;
	color:#000000;
	line-height:14px;
	text-align:left;
	vertical-align:bottom;
	width:300px;
	padding:8px;
	padding-left:58px;
	background-image:url(../images/vec_icon_info.png);
	background-repeat:no-repeat;
	background-position:10px 10px;
	top:50%;
	
	
}

.msgokbtn {

	padding-top:5px;
	text-align:right;
	padding-right:20px;
	cursor:pointer;
}
.alertbox {
	margin-left:16%;
    width:300px;
	border: 2px solid #F6A222;
	background-color:#FEF0E3;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:bold;
	color:#000000;
	line-height:14px;
	text-align:left;
	vertical-align:bottom;
	padding:8px;
	padding-left:58px;
	background-image:url(../images/vec_icon_error.png);
	background-repeat:no-repeat;
	background-position:10px 10px;
	
}


.alertbox_new {
	width:823px;
	border: 2px solid #F6A222;
	background-color:#FEF0E3;
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	line-height:14px;
	vertical-align:bottom;
	ackground-image:url(../images/vec_icon_error.png);
	background-repeat:no-repeat;
	margin:0px;
	height:422px;
	padding:0px 67px 0px 35px;
	
}


.alertboxbig_new 
{
	position:absolute; 
	width:60%;
	border: 2px solid #F6A222;
	background-color:#FEF0E3;
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	line-height:14px;
	vertical-align:bottom;
	background-repeat:no-repeat;
	margin:0px;
	height:60%;
	padding:0px 67px 0px 35px;
	left:16.2%; top:25%; right:16%; bottom:10%; 	overflow:auto;
	
}

.alertbox_new1 
{
	position:absolute; 
	width:60%;
	border: 2px solid #F6A222;
	background-color:#FEF0E3;
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	line-height:14px;
	vertical-align:bottom;
	ackground-image:url(../images/vec_icon_error.png);
	background-repeat:no-repeat;
	margin:0px;
	height:68%;
	padding:0px 67px 0px 35px;
	left:16.2%; top:25%; right:16%; bottom:10%; 	overflow:scroll;
}
.btn {
	border:1px solid #405800;
	background-color:#85b500;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:bold;
	color:#063585;
	height: 20px;
	cursor:pointer;
}
/*message box start */

/*Guideline start*/
.guidelines_containerddd {
	margin: 0 auto;
	border: 2px solid #F6A222;
	background-color:#FEF0E3;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:bold;
	color:#000000;
	line-height:14px;
	text-align:left;
	vertical-align:bottom;
	width:300px;
	padding:8px;
	padding-left:58px;
	background-image:url(../images/vec_icon_info.png);
	background-repeat:no-repeat;
	background-position:10px 10px;
	top:50%;
	left:50%;
	
}

.guidelines_container
{
	background-color:#fef0e3;
	border:1px solid #df8b07;
	padding:2px;
	width:700px;
	height:400px;
	overflow:auto;
	
	left:90%;
}

.guide_hding_img
{
background-image:url(images/Heading_bullet.jpg);
background-repeat:no-repeat;
background-position:5px;
}
.guidelines_hding
{

font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9pt;
color:#ffffff;
font-weight:bold;
height:11px;
background-color:#d98719;
padding:5px;
float:left;
border-bottom:2px solid #955808;
}
/*.guidelins_close
{
float:right;
}*/
.guide_content
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9pt;
color:#000000;
padding:20px;
}
.guidelins_close
{
background-color:#d98719;
border-bottom:2px solid #955808; 
padding:3px;
}


/*Guideline end*/
.login_hding
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11pt;
color:#9a5808;
font-weight:bold;
}

.pdflabel
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pt;
	color:red;
	font-weight:bold;
}

/* grid start */
.grdView
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	border-collapse:collapse;
	border: solid 1px;
}
.grdHead
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	background-color:#D58919;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;
	height:20px;
}
.grdHead a:link
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	background-color:#D58919;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;
	height:20px;
}
.grdHead a:active
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	background-color:#D58919;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;
	height:20px;
}
.grdHead a:visited
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	background-color:#D58919;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;
	height:20px;
}
.grdHead a:hover
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	background-color:#D58919;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:underline;
	height:20px;
}

.grdRowStyle
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	background-color:#E9E8E4;
	height:20px;
}

.grdAlternateRow
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	background-color:#F2F1EF;
	height:20px;
}
.grdMouseoutAlt
{
    background-color:#F7F7F7;
    height:20px;
}
.grdMouseout
{
    background-color:#E9E8E4;
    height:20px;
}

.grdMouseOver
{
    background-color:#f5efd8;
    height:20px;
}
.PagerStyle
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	color:Black;
	background-color:#FFFFFF;
	text-align:center;
}
.PagerStyle a:link
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	color:Blue;
	background-color:#FFFFFF;
}
.PagerStyle a:active
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	color:Blue;
	background-color:#FFFFFF;
}
.PagerStyle a:visited 
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	color:Blue;
	background-color:#FFFFFF;
}
.PagerStyle a:hover 
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	color:Blue;
	background-color:#FFFFFF;
}
/* grid end */

.weclone_txt
{
background-color:#585858;
color:#ffffff;
font-size:9pt;
font-family:Verdana, Arial, Helvetica, sans-serif;
padding:10px;
}

.back_to_list
{
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#ffffff;
font-weight:bold;
font-size:8pt;
float:right;
padding-top:5px;
padding-right:15px;
}

.back_to_list a
{
	color:#FFFFFF;
	text-decoration:none;
}
.back_to_list a:hover
{
	color:#FFFFFF;
	text-decoration:underline;
}
 .admin_table
{
	border:1px solid #fed5a1;
}
.admin_table_h1
{
background-color:#e8e7e7;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9pt;
color:#dd861d;
font-weight:bold;
padding:5PX;
}

.h2
{
color:#9d570f;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:9pt;
}

.Instruction_div
{
background-color:#f5f5f5;
color:#000000;
font-size:8pt;
border:1px solid #dadada;
padding:10px;
line-height:18px;
font-weight:bold;
}
.UnionCss
{
	color:#9d570f;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:9pt;
}
.lblCss
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
}
.heading_new
{
font-size:8pt;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#ffffff;
font-weight:bold;
}
.DynamicPanel
{
    border-right: darkgray 2px solid;
    border-top: darkgray 2px solid;
    border-left: darkgray 2px solid;
    border-bottom: darkgray 2px solid;
    background-color: #FFFFFF;
    Width:500px;   
    position: relative;
}
.modalBackground 
{
    background-color:Gray;
    filter:alpha(opacity=70);
    opacity:0.7;
}
.SubHeading_div
{
background-color:#f5f5f5;
color:#000000;
font-size:8pt;
border:1px solid #dadada;
padding:10px;
line-height:12px;
font-weight:bold;
}